.gallery {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
.gallery div {
    height: 200px;
    overflow: hidden;
    border: 1px solid var(--default-color);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
    transition: all .7s;
    cursor: pointer;
}

.gallery div:hover {
    transform: scale(1.2, 1.2);
}


@media only screen and (min-width: 650px){

    .gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .gallery div {
        height: 150px;
    }

}

@media only screen and (min-width: 980px){

    .gallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}

@media only screen and (min-width: 1300px){

    .gallery div {
        height: 200px;
    }

}