.pic-holder {
    position: relative;
    margin: 20px;
}
.pic-holder::after {
    border: 1px solid var(--default-dark-blue);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 3%;
    left: 3%;
    display: block;
}

.personal-contact {
    padding-top: 30px;
}
.personal-contact a {
    color: var(--default-color);
}
.personal-contact a:hover {
    color: var(--default-blue);
}

.listing {
    text-align: center;
}
.listing h3 {
    text-align: center;
}

.write-me {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px   
}

.write-me input[type="text"], input[type="email"], textarea {
    width: 100%;
}



@media only screen and (min-width: 650px){

    .who-am-i {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
        gap: 20px
    }
    .pic-me {
        grid-area: 1 / 1 / 2 / 2;
    }
    .personal-contact {
        grid-area: 1 / 2 / 2 / 4;
        padding-top: 0;
    }
    .personal-details {
        grid-area: 2 / 1 / 3 / 4;
    }

    .good-at {
        grid-template: minmax(0, 1fr) / repeat(3, minmax(0, 1fr));
        max-width: 1000px;
        margin: 0 auto;
    }

}


@media only screen and (min-width: 980px){
    
    .who-am-i {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }
    .pic-me {
        grid-area: 1 / 1 / 3 / 2;
    }
    .personal-contact {
        grid-area: 1 / 2 / 2 / 4;
    }
    .personal-details {
        grid-area: 2 / 2 / 3 / 4;
    }

    .listing {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, minmax(0, 2fr));
        text-align: left;
    }
    .listing h3 {
        text-align: left;
    }

    .write-me {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }
    #message {
        grid-area: 2 / 1 / 3 / 3;
    }
    #send {
        grid-area: 3 / 1 / 4 / 3;
        justify-self: center;
    }
}

@media only screen and (min-width: 1300px){

    .personal-contact {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: 50px minmax(0, 1fr);
        gap: 20px
    }
    .personal-contact h3 {
        grid-area: 1 / 1 / 2 / 3;
    }

}