/* ----------- Color Schema ---------- */
.grey {
    background: lightgrey;
}

.green {
    background: lightgreen;
}

.blue {
    background: lightblue;
}

.pink {
    background: lightpink;
}

.yellow {
    background: lightyellow;
}

.orange {
    background: rgb(255, 169, 0);
}

/* ------------ Basic Page Setup ------------ */

html,
* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
}



