:root{

    --shadow: 1px 4px 8px 15px rgba(0, 0, 0, 0.5);
    --first-background-color: lightblue ; 
    --second-background-color:rgb(133, 181, 197);
    --button-color:  #44AF69 ;
    --text-color: #F8333C;
    --title-font-size: 1.6em;

}

/*--------color shema ---------*/
.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

.pink {
    background: pink;
}

/*--------BODY HTML ---------*/

html, * {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/*--------Header & Footer for all files---------*/
header {
    width: 100%;
    min-height: 200px;
    font-size: 2em;
    background-image: url(https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    position: relative;
}

header nav {
    position: absolute;
    width: 70%;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


footer {
    min-height: 100px;
    padding: 1px;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient(45deg,blue, lightblue);
}

footer a {
    color: whitesmoke;
}

/*--------About.html---------*/

.about-photo {
    width: 100%;
    background: var(--first-background-color);
}

.about-photo img {
    width: 95%;
    padding: 5%;
    text-align: center;
    box-shadow: var(--shadow);

}

.about-article {
    background: var(--second-background-color);
    margin: 2px auto;
    width: 95%;


}

.about-article h1 {
    text-align: center;
    font-size: 2vw;
}


@media only screen and (min-width: 750px) {

    header nav { 
        width: 40%;
        left: auto;
        right: 2%;
        top: 2%;
        transform: translate(-2%, -2%);
        background: rgba(255,255,255,0.5);
        text-align: center;
    }

    
    .about-photo {
        width: 49%;
        float: left;
    }
    
    .about-article{
        float: left;
        width: 49%;
        height: 100%;
        
    }

    .about-photo-section::after{
        content: "";
        clear: both;
        display: block;
    }

    .about-fieldset {
        font-size: 1.4vw;
        width: 95%;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }
}


@media only screen and (min-width: 1000px) {
}